page-home {
  .scroll-content {
    background-color: #222;
  }
  ion-title img {
    max-height: 39px;
  }

  ion-item, [ion-item] {
    img {
      width: 100%;
      height: auto;
    }
  }

  ion-badge {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}
